.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
para-practica-metapoblaciones.Rmd
Practica2_CompetenciaLV.Rmd
practicas-interacciones-biologicas-dinamica-poblacional.Rmd.bak
*_cache
practicas-interacciones-biologicas-dinamica-poblacional-parte2proceso*
practicas-interacciones-biologicas-dinamica-poblacional-solucionario-practica-de-aula*